.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 12px 12px 12px;
  margin: 12px 0px 12px 0px;

  background-color: lightgoldenrodyellow;
}

.flag {
  width: 54px;
  height: 30px;

  margin-right: 12px;
}
