.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper > form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .login-wrapper > form {
    width: 100%;
  }
}
.login-wrapper > form > .field-wrapper {
  width: 100%;
}

.login-wrapper > form > #login-btn {
  margin-top: 24px;
  align-self: center;
  width: 100%;
}

.login-wrapper > form > :not(:last-child) {
  margin-bottom: 12px;
}

.create-account-link {
  font-size: 12px;
}
